h1.CSS{
    background-color:#074285f5 ; text-align: center; color: white;
}
table{
    background-color: #002959; 
}
a{
    color: white; text-decoration: none; text-align: center; text-transform: capitalize;
}
h1{color: black; background-color: #637eb8f5; text-align: center;

}
table.css2{
    margin-left: 200px; margin-bottom: 200px; text-align: center;
}
li{
    text-transform: uppercase;
}